﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HOT6</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>TEST</h2>
        <p>
            This is a sample application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build a similar application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filler</h2>
        <p>This is filler text.</p>
    </div>
</div>