﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Test1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:Label ID="Label1" runat="server" Font-Size="XX-Large"></asp:Label>
&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label2" runat="server" Font-Size="XX-Large"></asp:Label>
&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label3" runat="server" Font-Size="XX-Large"></asp:Label>
        <p>
            <asp:Image ID="Image1" runat="server" Height="100px" Visible="False" Width="100px" />
        </p>
        <p>
            <asp:Label ID="Label4" runat="server" Text="Lucky 7"></asp:Label>
        </p>
        <asp:Button ID="spinButton" runat="server" OnClick="spinButton_Click" Text="Spin" />
    </form>
</body>
</html>
