﻿@model MVCStudent.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEG3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEG3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEG4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEG4)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
