﻿@model IEnumerable<MVCStudent.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        LastName: @Html.DropDownList("LastName", "All")
        @*Last Name: @Html.TextBox("SearchString") <br />*@
        <input type="submit" value="Filter" />
    </p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Track)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEG1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEG2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEG3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEG4)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Track)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEG1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEG2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEG3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEG4)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
